<p>Hola {{ user.get_username }},</p>

<p>Recibimos una solicitud para restablecer la contraseña de tu cuenta en {{ site_name }}.</p>

<p>Haz clic en el siguiente enlace para establecer una nueva contraseña:</p>
{# Usa la variable del contexto en lugar de {% url %} directamente aquí #}
<p><a href="{{ protocol }}://{{ domain }}{{ password_reset_confirm_url|safe }}?uidb64={{ uid }}&token={{ token }}">{{ protocol }}://{{ domain }}{{ password_reset_confirm_url|safe }}?uidb64={{ uid }}&token={{ token }}</a></p>

<p>Si no solicitaste este cambio, puedes ignorar este correo electrónico de forma segura.</p>

<p>Gracias,<br>
El equipo de {{ site_name }}</p>